<div class="row">
  <div class="form-inline">
    <div class="form-group">
      <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email">
      </div>
    </div>
    <div class="form-group">
      <label for="username">Name</label>
      <input type="text" class="form-control" id="username">
    </div>
  </div>
</div>  
<br />
<div class="row">
  <%= form_for @message, remote: true, html: {class: "form"} do |f| %>
    <div class="row">
      <div class="form-group col-md-8">
        <%= f.text_area :body, rows: 3, class: 'form-control' %>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-8">
          <%= f.submit "Comment", class: "btn btn-default pull-right" %>
      </div>
    </div>
  <% end %>
</div>

<br />
<h3>Commentary</h3>
<div id="commentary">
</div>
